.container {
    width: 768px;
    margin: 0 auto;
    margin-top: 2em;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 33%;
    height: auto;
    margin: 0 0 1em 10%;
}

.column {
    width: 40%;
}

.contacts {
    padding-left: 0;
    font-size: 16px;
    font-style: italic;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

details summary {
    cursor: pointer;
    display: flex;
}

p {
    line-height: 1.5;
    margin: 0 0 1em 0;
}

.maintext {
    text-align: justify;
}

h2 {
    margin: 0.6em 0;
    /* Верхній і нижній відступ 20px, лівий і правий - 0 */
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}