.container {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.image {
    width: auto;
    height: 165px;
    margin-left: 15%;
}

.column {
    width: 45%;
}

.contacts {
    padding-left: 0;
    font-size: 11px;
    font-style: italic;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

p {
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.maintext {
    text-align: justify;
}

h3 {
    margin: 20px 0;
    /* Верхній і нижній відступ 20px, лівий і правий - 0 */
    padding: 0;
}

h4 {
    margin: 0 0 0 0;
    padding: 0;
}