.container {
    width: 505px;
    margin: 0 auto;
}

.block1 {
    display: flex;
}

.info {
    padding-left: 30px;
}

.block2 {
    text-align: justify;
    font-size: 12px;
}

.block3 {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 49%;
}

/* Додайте тут свої стилі для шрифтів, кольорів, відступів тощо */
body {
    font-family: Arial, sans-serif;
}

p {
    line-height: 1.5; /* Висота рядка в 1.5 рази більша за розмір шрифту */
    /* margin: 10px; Відступ 10 пікселів з усіх сторін */
    margin-top: 10px; /* Відступ 20 пікселів зверху */
    margin-bottom: 10px; /* Відступ 10 пікселів знизу */
}